.containt-info{
	margin: 0 auto;
}
.header {
	color: grey; 
	height: 5%;
	width: 100%;
}

.form {	
	margin: 0 auto;
	text-align: center;	
}
.info{
	background-color: #C1C1C1;
	border-radius: 10px;
	
}
.photo{
	margin: 0 auto;
	text-align: center;	
}
.photo img {
	width: 98px;
	height: 122px;
}
.test {
	background-color: red;
}
.user-cell {
	padding: 5px;
}
.user-cell img {
	border: 1px solid;
	border-radius: 6px;
}
.cursor {
	cursor: pointer;
}