.btn-back{
	float: right;
}

.containt-info{
	margin: 0 auto;
}
.header {
	color: grey; 
	height: 5%;
	width: 100%;
}

.form {	
	margin: 0 auto;
	text-align: center;	
}
.info{
	background-color: #C1C1C1;
	border-radius: 0px 10px 10px 0px;
}
.photo{
	/*margin: 0 auto;*/
	
	text-align: center;

}
.photo-tab{
	width:98px;
	height: 122px;
}
/*.photo img {
	width: 98px;
	height: 122px;
}*/

.test {
	background-color: red;
}
.user-case {
	text-align: center;
	background-color: #C1C1C1;
	border-radius: 6px;
	border: solid #eee;
}
.user-cell {
	padding: 5px;
}
.user-cell img {
	border: 1px solid;
	border-radius: 6px;
}
.cursor {
	cursor: pointer;
}
.id-card {
	background-color: #5cb85c;
	border-radius: 10px;
 }

@media screen and (max-width: 767px) {
 
	.info {		
		border-radius: 0px 0px 10px 10px;
	}

	.checkbox-wrapper {
		margin: 0 auto;
		width: 90px;
	}

	.checkbox-wrapper .checkbox {
		text-align: left;
	}

}