.btn-back{
	float: right;
}

.containt-info{
	margin: 0 auto;
}
.header {
	color: gray; 
	height: 5%;
	width: 100%;
}

.form {	
	margin: 0 auto;
	text-align: center;	
}
.info{
	background-color: #C1C1C1;
	border-radius: 0px 10px 10px 0px;
}
.photo{
	/*margin: 0 auto;*/
	
	text-align: center;

}
.photo-tab{
	width:98px;
	height: 122px;
}
.user-cell {
	padding: 5px;
	text-align: center;
	background-color: #C1C1C1;
	border-radius: 6px;
	border: solid #eee;
	border-width: 2px;
}
.user-cell a {
	color: inherit;
}
.user-cell img {
	border: 1px solid;
	border-radius: 6px;
}
.user-cell:hover {
	border-color: #464646;
}
.cursor {
	cursor: pointer;
}
.id-card {
	background-color: #5cb85c;
	border-radius: 10px;
}
.body-form .bootstrap-switch {
	margin-bottom: 5px;
}
.header-form {
	float: right;
	margin-top: 45px;
}
.header-form .input-text, select {
	margin-left: 3px;
	width: 250px !important;
}
.header-form .checkbox-wrapper {
	display: inline;
}
.header-form .checkbox-wrapper .checkbox {
	margin-right: 3px;
}
.header-form .error-message {
	margin: 0 auto;
	position: absolute;
	top: -35px;
}

@media screen and (max-width: 767px) {
 
	.info {		
		border-radius: 0px 0px 10px 10px;
	}

	.checkbox-wrapper {
		margin: 0 auto;
		width: 90px;
	}

	.checkbox-wrapper .checkbox {
		text-align: left;
	}
}


.anim-enter {
  opacity: 0.01;
}

.anim-enter.anim-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.anim-leave {
  opacity: 1;
}

.anim-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}