<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">
		<!--resposive bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../assets/css/bootstrap.css" type="text/css" rel="stylesheet"/>
        <link href="../assets/css/style.css" type="text/css" rel="stylesheet"/>
        <script type="text/javascript" src="../../js/src/verif.js"></script>

		<title>Trombinoscope SR03</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="page-header"><h1 class="text-left">Trombinoscope SR03</h1></div>
			<div class="form jumbotron">
				<form method="post" action="" class="form-inline" name="form" onKeyUp="javascript:VerifForm(this);">
					<div class="form-group">
						<div class="row">
							
							<div id="div-name" class="form-group  has-feedback">
  								<input type="text" id ="name" name="name" class="form-control" placeholder="Nom" onKeyUp="javascript:VerifChamp(this);"/>	
  								
								<span id="icon-name" class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true"></span>  								  						
							</div>
							
							<div id="div-fname" class="form-group  has-feedback">
  								<input type="text" id ="fname" name="fname" class="form-control" placeholder="Prénom" onKeyUp="javascript:VerifChamp(this);"/>	
  								
								<span class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true"></span>  								  						  								
							</div>
																											
							<input type="submit" id="submit" value="Valider" class="btn btn-default" disabled />
							
						</div>
					</div>
				</form>
				<div id="msg">
					
				</div>
			</div>	
			<div class="res_containt">

			</div>
		</div>
	</body>
</html>
