<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">
		<!--resposive bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../app/assets/css/bootstrap.css" type="text/css" rel="stylesheet"/>
        <link href="../app/assets/css/style.css" type="text/css" rel="stylesheet"/>
        <script type="text/javascript" src="../../js/src/verif.js"></script>

		<title>Trombinoscope SR03</title>
	</head>
	<body>
		<div id='react'></div>
	</body>
	<script type="text/javascript" src="../../js/.bundle.js"></script>
</html>
