<html>
<head>

	<meta charset="UTF-8">
		<!--resposive bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../assets/css/bootstrap.css" type="text/css" rel="stylesheet"/>
        <link href="../assets/css/style.css" type="text/css" rel="stylesheet"/>
        

	<title>Trombinoscope SR03 - Profil</title>
</head>
<body>
	<div class="container-fluid">
		<div class="page-header"><h1 class="text-left">Trombinoscope SR03 <small>Nom Prénom</small></h1></div>
		<div class="jumbotron">
			<div class="row">
				<div class="photo col-md-4">
					<div>
						<img src="../../views/profil.jpg" class="img-rounded"/>
					</div>				
				</div>
				<div class="info col-md-8">
					<div>
						<p>Nom:</p>
						<p>Prenom:</p>
						<p>Info:</p>					
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>